<h1>フィードバックフォーム</h1>
<form action="/feedback" method="post">
  <label for="name">名前:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="feedback">フィードバック:</label>
  <textarea id="feedback" name="feedback"></textarea><br><br>

  <input type="submit" value="送信">
</form>
